{% extends 'base.html' %}

{% block section %}

<!-- Hero Section -->
  <section class="hero-section" style="background: url('{{movie.photo.url}}') center center/cover no-repeat;">
    <div class="hero-overlay"></div>
    <div class="hero-content">
      <h1 class="display-5 fw-bold">{{ movie.name }}</h1>
      <div class="d-flex align-items-center mb-2">
        <span class="match me-3">{{ movie.runtime | time:'H i' }}</span>
        <span class="me-3">{{ movie.release_date|date:'Y' }}</span>
        <span class="badge bg-dark me-3 px-3 py-1">{{ movie.certification }}</span>
        <span>{{ movie.industry }}</span>
      </div>
      <p class="text-light mb-3">
        {{ movie.description }}
      </p>

      <div class="d-flex gap-2 mb-3">
        <button class="btn btn-white text-dark rounded-pill" style="width: 150px;"><i class="fa-solid fa-play me-2"></i>Play</button>
        <button class="btn bg-dark btn-outline-light rounded-pill" style="width: 150px;"><i class="fa-solid fa-plus me-2"></i>My List</button>
        
      </div>

      <p><strong>Starring:</strong> {% for artist in movie.artists %} {{artist}} {% endfor %}</p>
      <p><strong>Genres:</strong> {% for gen in movie.genre %} {{gen}} {% endfor %} </p>
      <p><strong>Available in :</strong>{% for language in movie.languages %} {{ language }} {% endfor %} </p>
    </div>
  </section>

{% endblock %}